body {
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

/* active */
.actives {
    opacity: 0.6;
    ;
}

/* .................... */


#nav-main {
    display: none;
    position: absolute;
    background-color: #a3b18a;
    padding: 0.5rem 4em;
    margin: 0 auto;
}

#nav-main.nav-m {
    display: block;
    z-index: 3;
}

#nav-main ul {
    list-style-type: none;
    padding-left: 0px;
}

#nav-main ul li {
    padding: 10px;
}

#nav-main ul li a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    color: #111;
}

#nav-main i {
    font-size: 24px;
    color: red;
}

#menu {
    background-color: #dad7cd;
    padding: 1rem;
}

#menu i {

    color: #111;
    font-size: 24px;
}

#nav-main ul li a:hover,
#nav-main i:hover {
    opacity: 0.6;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #dad7cd;

}

#hero img {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
    margin-right: 20px;
}

#hero #call-to-action {
    grid-column: 1/3;
    grid-row: 1/3;
    padding: 1rem;
    background-color: rgb(44, 34, 34, 0.5);
    text-align: center;
    border-radius: 1rem;
    width: 50%;
    z-index: 2;
    justify-self: center;
    align-self: self-end;
    margin-bottom: 2%;
    color: #fff;
    font-weight: bolder;
}

#hero #call-to-action a {
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    border: 1px solid #111;
    text-decoration: none;
    background-color: #03045e;
    color: #fff;
}

#hero #call-to-action a:hover {
    background-color: #70e000;
    border: 0px;
}

.events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}

.events section {
    margin: 0px auto;
    width: 80%;
    height: 400px;
    padding-top: 0px;

}

.section-head {
    font-size: 2em;
    color: #344e41;
    text-align: center;
    font-weight: bolder;
    background-color: #dad7cd;
    margin: 0px auto;
    padding: 2rem;
}

.events h2 {
    font-weight: bolder;
    color: #344e41;
    text-align: center;
    margin-bottom: 15px;
}

.events section img {
    width: 100%;
    height: 70%;
}

.events section p {
    text-align: center;
    font-weight: bolder;
    margin-top: 0px;
    width: 100%;
}

.events section img:hover {
    transition: 0.5s ease-in;
    transform: scale(1.03);
}

.weather-card {
    margin: 5rem 0px;
    text-align: center;
    background-color: #a9ccbb;
    padding: 3.5rem;
    background-image: url(../images/weather-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather-card h2 {
    font-weight: bolder;
    font-size: 2rem;
    color: #000;
}

.weather-card p {
    color: #fff;
    font-size: 1.5rem;
    margin-top: -10px;
}

.videos {
    background: #344e41;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem .5rem;
    justify-content: space-around;
}

.videos section {
    padding: 0.5rem
}

#ads {
    background-color: #344e41;
}

#ads h2 {
    color: #fff;
    padding: 15px;
    padding-left: 30px;
    font-size: 1.5rem;
}

.short-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 20px 0px;
}

.short-cards section {
    margin: 5px;
    border: 2px solid #999;
    padding: 5px;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    overflow: hidden;

}

.short-cards section img {
    width: 200px;
    height: 300px;
    border-top-right-radius: 5rem;
    border-top-left-radius: 5rem;
    animation: fade 10s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* //////////second site CSS /////////////*/
#contain-side {
    width: 80%;
    margin: 0 auto;
    background: #344e41;
    display: flex;
    flex-direction: column;
    border: 5px solid gold;
}

.sidebar {
    width: 90%;
    padding: 20px 5px;
    background-color: #a9ccbb;
    text-align: center;
    margin: 0 auto;
}

.sidebar #info:hover,
#demographic:hover,
#calendar:hover {
    cursor: pointer;
}

.sidebar #info {
    border: 3px solid #fff;
    background: rgb(44, 34, 34, 0.5);
    padding: 1rem;
    margin: 5px auto;
}

.sidebar h2 {
    font-weight: bolder;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
}

#info p {
    font-weight: bolder;
    color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;

}

#visits,
#last-visit {
    color: gold;
}

.sidebar #demographic {
    border: 3px solid #fff;
    background: rgb(44, 34, 34, 0.5);
    padding: 1rem;
    margin: 5px auto;
}

#demographic img {
    width: 100%;
}

#demographic p {
    color: #fff;
}

.sidebar #calendar {
    margin: 5px auto;
    border: 3px solid #fff;
    background: rgb(44, 34, 34, 0.5);
    padding: 5px 5px;
}

#calendar iframe {
    width: 100%;
}

.sidebar-img {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sidebar-img img {
    width: 90%;
    height: auto;
    margin: 10px auto;
    animation: fade 10s;
}

.sidebar-img img:hover {
    cursor: pointer;
}



/* //////////////////////////////////////// */
footer {
    background-color: #dad7cd;
    border-top: 5px solid #a3b18a;
    padding: 1rem;
}

footer p {
    font-weight: bolder;
    font-style: italic;
    font-size: 1.2rem;
}

footer #footer-nav {
    display: block;
    text-align: center;
}

footer #footer-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 0px;
}

footer #footer-nav ul li {
    margin: 1rem;
    font-size: 1.2rem;
    border: 2px solid #344e41;
    padding: 10px;
    border-radius: 50%;
}

#footer-nav ul li a {
    color: #344e41;
}

#footer-nav ul li:hover a {
    opacity: 0.7;

}


#lastModified {
    display: inline-block;
    color: #111;
    width: 100%;
    text-align: center;
}

/*-----------------Form CSS-------------*/
#fm {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;

}

.benefits-section {
    display: none;
}

#fm form {
    width: 100%;
    max-width: 50rem;
}

#fm form legend {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

#fm form>h2 {
    font-size: 1.7rem;
    color: #344e41;
    text-decoration: underline;
    margin-left: 2rem;
}

.tp,
.tp input,
.sb {
    display: block;
    padding: 0.75rem 5%;
    width: 100%;
    max-width: 20rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(40, 40, 204);
}

.tp input {
    border-radius: 5px;
    border: 1px solid #bbb;
    margin: 5px;
}

#fm div {
    padding: 1.2rem 0 0 5%;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(40, 40, 204);
}

.sb {
    font-size: 1rem;
    color: #000;
}

#fm input:required {
    border-left: 6px solid red;
}

#fm input:required:valid {
    border-left: 6px solid green;
}

#desc {
    vertical-align: top;
    width: 100%;
    height: 100px;
    font-weight: bold;
}

.time {
    padding: 1.2rem 0 0 5%;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(40, 40, 204);
}

.submitbtn {
    margin: 1rem 20px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: #344e41;
    color: #fff;
    border: none;
    border-radius: 1rem;
}

.submitbtn:hover {
    background-color: green;
}


/* weather form */
#info section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#info p {
    text-align: center;
}


/*---- Gid and List button------- */

#member #button {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 1rem;
    background-color: #bbb;
}

#member #button1,
#button2 {
    border: 1px solid #777;
    width: 50px;
    padding: 0.5rem;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #d2dbc4;
    color: #111;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    text-justify: auto;
    box-shadow: 0 0 15px #333;
}

#member #button1:hover,
#button2:hover {
    opacity: 0.8;
    font-weight: normal;
    cursor: pointer;
}


/*===== grid view======= */
#cardHold.grid-view {
    display: block;
}

.grid-view #member-cards {
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.grid-view #member-cards div {
    border: 3px solid #555;
    width: 85%;
    padding: 0.2rem;
    margin: 0.6rem;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    max-width: 15rem;
    text-align: center;
}

.grid-view #member-cards img {
    width: 150px;
    height: 100px;
}

.grid-view #member-cards p {
    text-align: center;
    margin-top: -5px;
    font-style: italic;
    font-weight: bold;
}

.grid-view #member-cards h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

/*====Member list Cards===== */
#cardHold.list-view {
    display: block;
}

.list-view #member-cards {
    padding-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.list-view #member-cards div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    width: 98%;
    max-width: 85%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #999;
}

.list-view #member-cards div:nth-last-child(1) {
    border-bottom: 0px;
    margin-bottom: 20px;
}

.list-view #member-cards div h2,
p,
a {
    text-align: left;
    font-size: 95%;
    padding: 5px;
}


.list-view #member-cards img {
    display: none;
    width: 150px;
    height: 100px;
}

/* ======news======= */
#formz {
    margin: 0 auto;
    text-align: center;
}

.formz {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    flex-wrap: wrap;
    gap: 2em;
    margin-left: 40%;
}

.user {
    flex: 1 0 4rem;
}

.pass {
    flex: 1 0 4rem;
}

button {
    flex: 1 0 4rem;
}