:root {
    --display: block;
    --required: red solid 6px;
    --valid: green solid 6px;
    --fontsize: 1.1rem;
    --col: #023047;
}

form h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: var(--col);
}

form {
    margin: 4rem auto;
    max-width: 50rem;
}

form legend {
    font-size: 1.5rem;
    font-weight: bold;
}

fieldset {
    border-radius: 5px;
    padding: 10px;
}

form fieldset .top,
form fieldset .top input,
form label.sbs,
#l-range {
    -webkit-appearance: none;
    display: var(--display);
    padding: 0.75rem 5%;
    border-radius: 5px;
    font-weight: bolder;
    font-size: var(--fontsize);
    font-family: sans-serif;
    width: 100%;
    max-width: 20rem;
}

form fieldset .top input {
    background-color: rgba(0, 0, 0, 0.1);
    color: #111;
    font-size: 1rem;
    font-weight: normal;
    font-size: 1rem;
    font-family: sans-serif;
    border: 1px solid #999;
}

form label.top input:required {
    border-left: var(--required);
}

form label.top input:required:valid {
    border-left: var(--valid);
}

form label.top input[name="password"]:required:valid {
    border-left: var(--valid);
}

form label {
    padding-bottom: 20px;
}

form label.sbs input {
    margin-left: 10px;
}

form .submitBtn {
    background-color: var(--col);
    font-weight: bolder;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 1rem;
    margin: 30px 10px;
}

.record {
    text-align: center;
    max-height: 400px;
    height: 200px;
}

#range {
    width: 250px;
}

#range-v {
    font-size: 2rem;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--col);
    padding: 1.5rem 0 0 0;
}

#range-vals {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    padding-left: 60px;
    font-size: 1rem;
    font-weight: 900;
}


/* ----Error Message------ */
#error-message {
    display: none;
    margin-top: -30px;
    padding: 0.75rem 5%;
}

form fieldset #error-message p {
    display: inline-block;
    padding: 10px;
    background-color: rgb(82, 4, 4);
    color: white;
    font-size: 1rem;
}

/* -------Record CSS-------- */
.record h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: var(--col);
}